<!DOCTYPE html>
html(lang="es")
head
  meta(charset="UTF-8")
  title=titulo
  link(href="/css/estilos.css", rel="stylesheet", type="text/css")
body
  h1 Ooops
  h2 Lo sentimos, esta página no existe...
