extends layout 
block content
        h1
            a(href="/")=titulo
        div
            p Nuestras tienda de camisetas tiene vestimenta en selectos colores, para una satisfacción 100% garatizada.
            img(src="img/camisetaceleste.jpg", width="250")
            a(href="/tienda").comprar  Modelos
