doctype html
html(lang="es")
    head
        title tienda de camisetas
        link(href="/css/estilos.css", rel="stylesheet", type="text/css")
    body
        h1
            a(href="http://tiendadecamisetas") Tienda de camisetas
        div
            p Nuestras tienda de camisetas tiene vestimenta en selectos colores, para una satisfacción 100% garatizada.
            img(src="img/camisetaceleste.jpg")
            a(href="/tienda").comprar  Modelos
