doctype html
html(lang="es")
    head
        title=titulo
        link(href="/css/estilos.css", rel="stylesheet", type="text/css")
    body
        h1
            a(href="/") Tienda de Camisetas

        div.contenedor
            h2="Gracias por comprar la camiseta " + titulo
            img(src="/" + imagen, width="250")
            a(href="/tienda").comprar Regresar
